<mat-drawer-container class="mat-drawer-container" autosize>

  <mat-drawer #drawer class="sidenav" opened mode="side">
    <div class="logo-container">logo</div>
    <ul class="menu-items">
      <li [routerLink]="['/']" routerLinkActive="router-link-active" ><mat-icon>fact_check</mat-icon><div class="menu-title">Dahsboard</div></li>
      <li [routerLink]="['/user']" routerLinkActive="router-link-active" ><mat-icon>perm_identity</mat-icon><div class="menu-title">User</div></li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon (click)="drawer.toggle()" class="example-icon">menu_open</mat-icon>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="router-container"><router-outlet></router-outlet></div>
    
  </div>

</mat-drawer-container>