.add-user-btn {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

.cdk-describedby-message-container, .cdk-visually-hidden {
    background-color: bisque !important;
    color: aqua;
    border: red 2px solid;
}

.cdk-describedby-message-container {
    border: 3px red solid !important;
}